<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="{{ url_for('static', filename='styles/landing.css') }}"
      rel="stylesheet"
    />
    <title>Landing page</title>
</head>
<body>
    <div class="container">
        <section class="contato" id="tabela">
            <div class="contato-detalhes">
                <div>
                    <h2>Nohran Ferreira</h2>
                </div>
                <div>
                    <label>Nível</label>
                </div>
                <div>
                    <p>1</p>
                </div>
                <div>
                    <label>E-mail</label>
                </div>
                <div>
                    <p>nohran1708@hotmail.com</p>
                </div>
                <div>
                    <label>Tel.</label>
                </div>
                <div>
                    <p>19 987711276</p>
                </div>
                <div>
                    <label>Cargo</label>
                </div>
                <div>
                    <p>Analista de Dados</p>
                </div>
            </div>
            <div class="contato-detalhes">
                <div>
                    <h2>Nohran Ferreira</h2>
                </div>
                <div>
                    <label>Nível</label>
                </div>
                <div>
                    <p>1</p>
                </div>
                <div>
                    <label>E-mail</label>
                </div>
                <div>
                    <p>nohran1708@hotmail.com</p>
                </div>
                <div>
                    <label>Tel.</label>
                </div>
                <div>
                    <p>19 987711276</p>
                </div>
                <div>
                    <label>Cargo</label>
                </div>
                <div>
                    <p>Analista de Dados</p>
                </div>
            </div>
            <div class="contato-detalhes">
                <div>
                    <h2>Nohran Ferreira</h2>
                </div>
                <div>
                    <label>Nível</label>
                </div>
                <div>
                    <p>1</p>
                </div>
                <div>
                    <label>E-mail</label>
                </div>
                <div>
                    <p>nohran1708@hotmail.com</p>
                </div>
                <div>
                    <label>Tel.</label>
                </div>
                <div>
                    <p>19 987711276</p>
                </div>
                <div>
                    <label>Cargo</label>
                </div>
                <div>
                    <p>Analista de Dados</p>
                </div>
            </div>
        </section>
    </div>
    <script src="../static/scripts/script.js"></script>
</body>
</html>