<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="{{ url_for('static', filename='styles/landing.css') }}"
      rel="stylesheet"
    />
    <title>Landing page</title>
</head>
<body>
    <div class="container">
        <section class="contato" id="tabela">
            <div class="blog_post">
                <div class="img_pod">
                    <img src="../static/img/MinalbaLogo_03.jpg" alt="random image">
                </div>
                <div class="container_copy">
                    <h3>Nível 1</h3>
                    <h1>Nohran Ferreira</h1>
                    <p>nohran1708@hotmail.com</p>
                    <p>19 98771 1276</p>
                    <a class="btn_primary" href='#' target="_blank"><i class="fa-solid fa-pen"></i></a>
                </div>
            </div>
            <div class="blog_post">
                <div class="img_pod">
                    <img src="../static/img/MinalbaLogo_03.jpg" alt="random image">
                </div>
                <div class="container_copy">
                    <h3>Nível 1</h3>
                    <h1>Nohran Ferreira</h1>
                    <p>nohran1708@hotmail.com</p>
                    <p>19 98771 1276</p>
                    <a class="btn_primary" href='#' target="_blank"><i class="fa-solid fa-pen"></i></a>
                </div>
            </div>
            <div class="blog_post">
                <div class="img_pod">
                    <img src="../static/img/MinalbaLogo_03.jpg" alt="random image">
                </div>
                <div class="container_copy">
                    <h3>Nível 1</h3>
                    <h1>Nohran Ferreira</h1>
                    <p>nohran1708@hotmail.com</p>
                    <p>19 98771 1276</p>
                    <a class="btn_primary" href='#' target="_blank"><i class="fa-solid fa-pen"></i></a>
                </div>
            </div>
        </section>
    </div>
    <script src="../static/scripts/script.js"></script>
</body>
</html>