<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', filename='styles/landing.css') }}"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', filename='styles/header.css') }}"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', filename='styles/glr_app.css') }}"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', filename='styles/popup.css') }}"
			rel="stylesheet"
		/>
		<title>Landing page</title>
	</head>
	<body>
		<header class="header-area header-sticky">
			<div class="content-contatos">
				<div class="row">
					<div class="col-12">
						<nav class="main-nav">
							<div class="nav-flex-container">
								<!-- ***** Logo Start ***** -->
								<a href="index.html" class="logo">
									<img
										src="{{ url_for('static', filename='img/Moby_Logo04.png') }}"
										alt=""
									/>
								</a>
								<!-- ***** Logo End ***** -->

								<!-- ***** Menu Start ***** -->
								<ul class="nav">
									<li><a href="index.html" class="active">Home</a></li>
									<!-- <li><a href="noticias.html">Notícias</a></li> -->
									<li><a>Ticket</a></li>
									<!-- <li><a href="streams.html">Streams</a></li> -->
									<li>
										<a class="profile">
											<img
												href="profile.html"
												src="{{ url_for('static', filename='img/perfil.png') }}"
												alt=""
											/>
										</a>
									</li>
								</ul>
								<a class="menu-trigger">
									<span hidden>Menu</span>
								</a>
							</div>

							<!-- ***** Menu End ***** -->
						</nav>
					</div>
				</div>
			</div>
		</header>
		<section class="header-contatos">
			<input class="pesquisaContato" placeholder="Pesquise aqui o contato" />
			<button class="add-contato"><i class="fi fi-sr-user-add"></i></button>
		</section>

		<dialog id="popup" class="popup">
			<h3 class="popup__titulo">Novo contato</h3>
			<form id="contactForm" class="contactForm">
				<div class="contactForm__campos">
					<label for="name">Name</label>
					<input
						type="text"
						id="name"
						placeholder="Preencha o nome do contato"
					/><br />
				</div>
				<div class="contactForm__campos">
					<label for="nivel">Nível</label>
					<input
						type="number"
						id="nivel"
						placeholder="Preencha o nível"
					/><br />
				</div>
				<div class="contactForm__campos">
					<label for="cargo">Cargo</label>
					<input type="text" id="cargo" placeholder="Preencha o cargo" /><br />
				</div>
				<div class="contactForm__campos">
					<label for="email">Email</label>
					<input
						type="email"
						id="email"
						placeholder="Preencha o e-mail"
					/><br />
				</div>
				<div class="contactForm__campos">
					<label for="phone">Phone</label>
					<input
						type="tel"
						id="phone"
						placeholder="Preencha o telefone do contato"
					/><br />
				</div>
			</form>
			<div class="popup__botoes">
				<button type="submit">Salvar</button>
				<button id="close">Cancelar</button>
			</div>
		</dialog>

		<main class="conteudo">
			<div class="container">
				<section class="contato" id="contato"></section>
			</div>
		</main>

		<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/popUpAdd.js') }}"></script>
	</body>
</html>
